html{
    background-color: black;
}
.img-1{
    max-width: 100%; /* Ancho máximo del 100% del contenedor padre */
    height: auto;
    z-index: 1;
}
.img-2{
    position: absolute;
    max-width: 45%;
    bottom: 260px;
    z-index: 3;
}
.options {
    display: flex;
}
.options {
    display: flex;
}

.column1 .img-rules{
    flex: 1;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}
.column1 .img-rules:hover {
    transform: scale(1.1); /* Aumenta el tamaño al 110% al pasar el mouse */
}
.column2 .img-schedule{
    flex: 1;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}
.column2 .img-schedule:hover {
    transform: scale(1.1); /* Aumenta el tamaño al 110% al pasar el mouse */
}
